% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Project I</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">	</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.counterup/1.0/jquery.counterup.min.js"></script>
        <link href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable.min.css" rel="stylesheet" />   
        <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable.min.js"></script>
        <script src="https://unpkg.com/counterup2@2.0.2/dist/index.js">	</script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css" />
        <link rel="stylesheet" href=" {% static 'css/theme.css' %} " />
        {% tailwind_css %}
    </head>
    <body>
        <section class="h-screen">
            <div class="container h-full px-6 py-12">
                <div class="flex flex-wrap items-center justify-center h-full text-gray-800 g-6">
                    <div class="mb-12 md:w-8/12 lg:w-6/12 md:mb-0">
                    <img
                        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/authentication/illustration.svg"
                        class="w-full"
                        alt="Phone image"
                    />
                    </div>
                    
                    <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
                        <h2 class="px-2 pb-10 text-2xl font-bold text-center intro-x xl:text-3xl xl:text-center">
                            Sign In
                        </h2>
                        <form method="post">
                            <!-- Email input -->
                            {% csrf_token %}
                            <div class="mb-6">
                            <input name="username"
                                type="username"
                                class="block w-full px-4 py-2 m-0 text-xl font-normal text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded form-control bg-clip-padding focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                placeholder="Email address"/>
                            </div>
                
                            <!-- Password input -->
                            <div class="mb-6">
                            <input name="password"
                                type="password"
                                class="block w-full px-4 py-2 m-0 text-xl font-normal text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded form-control bg-clip-padding focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                placeholder="Password"
                            />
                            </div>
                
                            <div class="flex items-center justify-between mb-6">
                            <div class="form-group form-check">
                                <input type="checkbox" class="float-left w-4 h-4 mt-1 mr-2 align-top transition duration-200 bg-white bg-center bg-no-repeat bg-contain border border-gray-300 rounded-sm appearance-none cursor-pointer form-check-input checked:bg-blue-600 checked:border-blue-600 focus:outline-none"
                                id="exampleCheck3" checked />
                                <label class="inline-block text-gray-800 form-check-label" for="exampleCheck2"
                                >Remember me</label
                                >
                            </div>
                            <a
                                href="#!"
                                class="text-blue-600 transition duration-200 ease-in-out hover:text-blue-700 focus:text-blue-700 active:text-blue-800"
                                >Forgot password?</a
                            >
                            </div>
                
                            <!-- Submit button -->
                            <button
                            type="submit"
                            class="inline-block w-full py-3 text-sm font-medium leading-snug text-white uppercase transition duration-150 ease-in-out bg-blue-600 rounded shadow-md px-7 hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
                            data-mdb-ripple="true"
                            data-mdb-ripple-color="light"
                            >
                            Sign in
                            </button>
                
                            
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
